.tile{display:inline-block;width:20px;height:20px;margin:0;padding:0;border:none;}
	.grass_water_1_1{background-image:url(tile.png);background-repeat:none;background-position:0px 0px;}
	.grass_water_2_1{background-image:url(tile.png);background-repeat:none;background-position:-20px 0px;}
	.grass_water_3_1{background-image:url(tile.png);background-repeat:none;background-position:-40px 0px;}
	.grass_water_4_1{background-image:url(tile.png);background-repeat:none;background-position:-60px 0px;}
	.grass,.grass_water_5_1{background-image:url(tile.png);background-repeat:none;background-position:-80px 0px;}
	.grass_water_6_1{background-image:url(tile.png);background-repeat:none;background-position:-100px 0px;}
	.grass_water_7_1{background-image:url(tile.png);background-repeat:none;background-position:-120px 0px;}
	.grass_water_8_1{background-image:url(tile.png);background-repeat:none;background-position:-140px 0px;}
	.grass_water_9_1{background-image:url(tile.png);background-repeat:none;background-position:-160px 0px;}
	.grass_water_10_1{background-image:url(tile.png);background-repeat:none;background-position:-180px 0px;}
	.grass_water_11_1{background-image:url(tile.png);background-repeat:none;background-position:-200px 0px;}
	.grass_water_12_1{background-image:url(tile.png);background-repeat:none;background-position:-220px 0px;}
	.grass_water_13_1{background-image:url(tile.png);background-repeat:none;background-position:-240px 0px;}
	.grass_water_14_1{background-image:url(tile.png);background-repeat:none;background-position:-260px 0px;}
	.grass_water_15_1{background-image:url(tile.png);background-repeat:none;background-position:-280px 0px;}
	.grass_water_16_1{background-image:url(tile.png);background-repeat:none;background-position:-300px 0px;}
	.grass_water_17_1{background-image:url(tile.png);background-repeat:none;background-position:-320px 0px;}	
	.grass_water_1_2{background-image:url(tile.png);background-repeat:none;background-position:0px -20px;}
	.grass_water_2_2{background-image:url(tile.png);background-repeat:none;background-position:-20px -20px;}
	.grass_water_3_2{background-image:url(tile.png);background-repeat:none;background-position:-40px -20px;}
	.grass_water_4_2{background-image:url(tile.png);background-repeat:none;background-position:-60px -20px;}
	.grass_water_5_2{background-image:url(tile.png);background-repeat:none;background-position:-80px -20px;}
	.grass_water_6_2{background-image:url(tile.png);background-repeat:none;background-position:-100px -20px;}
	.grass_water_7_2{background-image:url(tile.png);background-repeat:none;background-position:-120px -20px;}
	.grass_water_8_2{background-image:url(tile.png);background-repeat:none;background-position:-140px -20px;}
	.grass_water_9_2{background-image:url(tile.png);background-repeat:none;background-position:-160px -20px;}
	.grass_water_10_2{background-image:url(tile.png);background-repeat:none;background-position:-180px -20px;}
	.grass_water_11_2{background-image:url(tile.png);background-repeat:none;background-position:-200px -20px;}
	.grass_water_12_2{background-image:url(tile.png);background-repeat:none;background-position:-220px -20px;}
	.grass_water_13_2{background-image:url(tile.png);background-repeat:none;background-position:-240px -20px;}
	.grass_water_14_2{background-image:url(tile.png);background-repeat:none;background-position:-260px -20px;}
	.grass_water_15_2{background-image:url(tile.png);background-repeat:none;background-position:-280px -20px;}
	.grass_water_16_2{background-image:url(tile.png);background-repeat:none;background-position:-300px -20px;}
	.grass_water_17_2{background-image:url(tile.png);background-repeat:none;background-position:-320px -20px;}
	.grass_water_1_3{background-image:url(tile.png);background-repeat:none;background-position:0px -40px;}
	.grass_water_2_3{background-image:url(tile.png);background-repeat:none;background-position:-20px -40px;}
	.grass_water_3_3{background-image:url(tile.png);background-repeat:none;background-position:-40px -40px;}
	.grass_water_4_3{background-image:url(tile.png);background-repeat:none;background-position:-60px -40px;}
	.grass_water_5_3{background-image:url(tile.png);background-repeat:none;background-position:-80px -40px;}
	.grass_water_6_3{background-image:url(tile.png);background-repeat:none;background-position:-100px -40px;}
	.grass_water_7_3{background-image:url(tile.png);background-repeat:none;background-position:-120px -40px;}
	.grass_water_8_3{background-image:url(tile.png);background-repeat:none;background-position:-140px -40px;}
	.grass_water_9_3{background-image:url(tile.png);background-repeat:none;background-position:-160px -40px;}
	.grass_water_10_3{background-image:url(tile.png);background-repeat:none;background-position:-180px -40px;}
	.grass_water_11_3{background-image:url(tile.png);background-repeat:none;background-position:-200px -40px;}
	.grass_water_12_3{background-image:url(tile.png);background-repeat:none;background-position:-220px -40px;}
	.grass_water_13_3{background-image:url(tile.png);background-repeat:none;background-position:-240px -40px;}
	.grass_water_14_3{background-image:url(tile.png);background-repeat:none;background-position:-260px -40px;}
	.grass_water_15_3{background-image:url(tile.png);background-repeat:none;background-position:-280px -40px;}
	.grass_water_16_3{background-image:url(tile.png);background-repeat:none;background-position:-300px -40px;}
	.grass_water_17_3{background-image:url(tile.png);background-repeat:none;background-position:-320px -40px;}
	.grass_water_1_4{background-image:url(tile.png);background-repeat:none;background-position:0px -60px;}
	.grass_water_2_4{background-image:url(tile.png);background-repeat:none;background-position:-20px -60px;}
	.grass_water_3_4{background-image:url(tile.png);background-repeat:none;background-position:-40px -60px;}
	.grass_water_4_4{background-image:url(tile.png);background-repeat:none;background-position:-60px -60px;}
	.grass_water_5_4{background-image:url(tile.png);background-repeat:none;background-position:-80px -60px;}
	.grass_water_6_4{background-image:url(tile.png);background-repeat:none;background-position:-100px -60px;}
	.grass_water_7_4{background-image:url(tile.png);background-repeat:none;background-position:-120px -60px;}
	.grass_water_8_4{background-image:url(tile.png);background-repeat:none;background-position:-140px -60px;}
	.grass_water_9_4{background-image:url(tile.png);background-repeat:none;background-position:-160px -60px;}
	.grass_water_10_4{background-image:url(tile.png);background-repeat:none;background-position:-180px -60px;}
	.grass_water_11_4{background-image:url(tile.png);background-repeat:none;background-position:-200px -60px;}
	.grass_water_12_4{background-image:url(tile.png);background-repeat:none;background-position:-220px -60px;}
	.grass_water_13_4{background-image:url(tile.png);background-repeat:none;background-position:-240px -60px;}
	.grass_water_14_4{background-image:url(tile.png);background-repeat:none;background-position:-260px -60px;}
	.grass_water_15_4{background-image:url(tile.png);background-repeat:none;background-position:-280px -60px;}
	.grass_water_16_4{background-image:url(tile.png);background-repeat:none;background-position:-300px -60px;}
	.grass_water_17_4{background-image:url(tile.png);background-repeat:none;background-position:-320px -60px;}
